.box{
    width: auto;
    height: auto;
    border: solid black;
    position: absolute;
    border-style: double;
    border-radius: 5%;
}

.cube{
    width: 100px;
    height: 100px;
    margin-left: 150px;
    position: absolute;
    background-color:greenyellow;
}

.Rectangle{
    width: 250px;
    height: 100px;
    margin-top:100px;
    background-color: indigo;
    margin-left: 75px;
    position: absolute;
}

.Rectangle2{
    width: 400px;
    height: 100px;
    background-color: grey;
    margin-top:200px;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
}